<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="At Healthcarebia, relationships and clinical excellence go hand in hand. That's what makes our one-on-one home health services special for patients."
    />
    <title>Blog | Healthcarebia</title>
    <%- include('partials/header-tags.ejs') %>
    <link rel="stylesheet" href="../../assets/css/blog.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div
      class="banner"
      style="
        background-image: url(../assets/img/blog-banner.webp);
        background-position: center;
        background-size: cover;
      "
    >
      <h1>Blog</h1>
      <div class="breadcrumb"><a href="/">Home</a>/ Blog</div>
    </div>
    <section class="blogs p-5">
      <div class="row blog-container d-flex my-5">
        <% blogs.forEach((blog,i)=>{ %>
          <a href="/<%= blog.link %>" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background-image: url('../assets/img/blog<%= blog.i+1 %>.webp');
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body p-3">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category"><%= blog.category %></span>
                <span><b>.</b></span>
                <span class="mins"><%= blog.time %> mins</span>
              </div>
              <h5 class="mt-3">
                <%= blog.title %>
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                <%= blog.description %>
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date"><%= blog.date %></span>
              </p>
            </div>
          </div></a
        >
        <% }) %>
        <!-- <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog14.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">Is IV Drip Therapy Safe and Legal in Dubai?</h5>
              <p class="pb-4 mt-4 blog-summary">
                Separate myth from fact learn DHA regulations, safety tips, and
                what makes IV therapy safe and compliant in Dubai.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog13.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                Vitamin D Deficiency in Dubai: Why Testing Matters
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                Discover why vitamin D is low, even with Dubai sunshine. Learn
                the risks, symptoms, and book a quick home blood test today.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog12.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                Athletic IV Drip: Boost Performance & Speed Recovery
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                Hydrate, recover, and perform at your best with our DHA-licensed
                IV therapy for athletes in Dubai.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog11.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                Jet Lag IV Drip: Relieve Fatigue, Rehydrate & Restore Your Body
                Clock
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                Beat jet lag fatigue and reset your circadian rhythm with our
                nurse-delivered IV therapy service in Dubai.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog10.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                NAD+ IV Therapy for CEOs: Enhance Focus & Cognitive Performance
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                Learn how NAD+ infusion helps CEOs maintain mental clarity,
                combat fatigue, and excel at multitasking
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog9.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                Beauty from the Inside Out: IV Therapy for Healthy Skin and Hair
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                In the pursuit of radiant skin, lustrous hair, and overall
                beauty, many people turn to topical treatments and cosmetic
                procedures.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a
          href="#"
          class="col-12 col-lg-4 col-md-6 mb-3 d-flex flex-column justify-content-center align-items-center"
        >
          <div class="blog-box p-3">
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog8.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                The Power of NAD+ IV Drips: Enhancing Cellular Health and Energy
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                In the realm of healthcare advancements, scientists and
                researchers are constantly uncovering new ways to optimize our
                well-being.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog9.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                Harnessing the Power of IV Drips for Immune Enhancement
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                In recent years, the use of intravenous (IV) drips for immune
                enhancement has gained significant popularity.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog9.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                Saying Goodbye to Hangovers: How IV Drip Therapy Provides Quick
                Relief
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                Hangovers can be a dreaded aftermath of a night of indulgence
                and celebration.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog9.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                Confidential and Convenient: At-Home STD Testing for Your Peace
                of Mind
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                Taking care of our sexual health is crucial for overall
                well-being, but many individuals feel uncomfortable or hesitant
                when it comes to getting tested for sexually transmitted
                diseases (STDs).
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog9.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                The Myers Cocktail IV Drip: A Powerful Vitamin Infusion for
                Energy & Wellness
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                Discover how the Myers Cocktail IV drip can boost energy,
                support immune health, and improve overall wellness.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog9.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                Cold & Flu IV Therapy: Fast Relief and Immune Support
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                Get rapid relief from cold and flu symptoms with our specialized
                IV therapy treatment that boosts immunity and rehydrates your
                body.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog2.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                IV Drip Home Service Dubai: What to Expect From Your First Visit
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                Curious about getting an IV drip at home in Dubai? Discover what
                happens during your first visit, from consultation to infusion.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        >
        <a href="#" class="col-12 col-lg-4 col-md-6 mb-3">
          <div
            class="blog-box p-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="blog-img"
              style="
                height: 240px;
                background: url(../assets/img/blog9.webp);
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 10px;
              "
            ></div>
            <div class="blog-body">
              <div class="head mt-3 d-flex gap-2 align-items-center">
                <span class="category">Health</span>
                <span><b>.</b></span>
                <span class="mins">0 mins</span>
              </div>
              <h5 class="mt-3">
                Comprehensive Guide to DHA-Certified IV Drip Therapy at Home in
                Dubai: Procedure, Safety, and Expected Results
              </h5>
              <p class="pb-4 mt-4 blog-summary">
                Step-by-step process, DHA safety rules, benefits, pricing, and
                FAQs for professional IV therapy delivered in your home.
              </p>
              <p class="blog-posted d-flex flex-column">
                <span>Posted On</span>
                <span class="date">August 1, 2025</span>
              </p>
            </div>
          </div></a
        > -->
      </div>
    </section>
    <%- include("partials/footer.ejs") %> <%-
    include("partials/footer-tags.ejs") %>
  </body>
</html>
